<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <style>
table.type10 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 20px 10px;
}
table.type10 thead th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #d0b4fae5;
  margin: 20px 10px;
}
table.type10 tbody th {
  width: 150px;
  padding: 10px;
}
table.type10 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
}
table.type10 .even {
  background: #f6ecf9;
}
#test_btn1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 10px;
}
#test_btn2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 5px;
}
#test_btn3 {
  border-radius: 5px;
}
#btn_group button{
  border: 1px solid #fcdafc;
  background-color: rgba(0,0,0,0);
  color: #353131;
  padding: 5px;
}
#btn_group button:hover{
  color:#353131;
  background-color: #eacbec;
}
    </style>
</head>
<body>
  <link rel="shortcut icon" href="#">
  <center>
      <h2>영화 목록 조회</h2>
      <div id="btn_group">
      <button id="test_btn3" type="button" onclick="location.href='/register'">영화 등록</button>
      </div>
      <form action="check.php" method="post">
        <table class="type10">
        <thead>
            <tr scope="cols">
                <th>ID</th>
                <th>제목</th>
                <th>감독</th>
                <th>국가</th>
                <th>장르</th>
                <th>개봉일</th>
                <th>상영등급</th>
                <th>button</th>
            </tr>
        </thead>
        <% movies.forEach(value => { %> 
        <tr scope="row">
          <td><%= value.id  %></td>
          <td><%= value.title  %></td>
          <td><%= value.author  %></td>
          <td><%= value.country  %></td>
          <td><%= value.category  %></td>
          <td><%= value.year  %></td>
          <td><%= value.age  %></td>
          <td>
            <div id="btn_group">
              <button onclick="location.href='/commit'" id="test_btn1" type="button">
                수정</button>
              <button id="test_btn2" type="button">
                삭제</button>
            </div>
          </td>
        </tr>
        <tr scope="row" class="even">
          <td class="even."><%= value.id  %></td>
          <td class="even."><%= value.title  %></td>
          <td class="even."><%= value.author  %></td>
          <td class="even."><%= value.country  %></td>
          <td class="even."><%= value.category  %></td>
          <td class="even."><%= value.year  %></td>
          <td class="even."><%= value.age  %></td>
          <td class="even.">
            <div id="btn_group">
              <button onclick="location.href='/commit'" id="test_btn1" type="button">
                수정</button>
              <button id="test_btn2" type="button">
                삭제</button>
            </div>
          </td>
      </tr>
      <% }); %>
    </table>
  </form>
  </center>


</body>
</html>